Repository clearlinux/mixer-tools, pull requests merged in 2018-02, with the labels that each got.

#164 Add another test for ghosted renames
  swupd/create_manifests_test.go
Labels: swupd

#163 Improve error messages for manifest write failures
  swupd/files.go
  swupd/manifest.go
Labels: swupd

#160 Strip dot characters from rename filepaths
  swupd/rename.go
Labels: swupd

#165 Only support File->File renames
  swupd/rename.go
  swupd/rename_test.go
Labels: bug, swupd

#159 Fix os-core-update-index generation
  swupd/create_manifests.go
  swupd/create_manifests_test.go
  swupd/manifest.go
Labels: bug, swupd

#168 Sensitively load groups.ini file
  swupd/config.go
  swupd/config_test.go
  swupd/testdata/groups.ini
Labels: bug, swupd

#176 Do not append os-core include twice
  swupd/manifest.go
Labels: bug, swupd

#178 Add timing information for chroot building step
  builder/builder.go
Labels: swupd

#183 Only unset file type when deprecating rename-from files
  swupd/create_manifests_test.go
  swupd/manifest.go
Labels: bug, swupd

#186 Also only set hash to zero when deprecated rename not present
  swupd/manifest.go
Labels: bug, swupd

#180 swupd: don't pack fullfiles if delta already available
  swupd/delta_test.go
  swupd/packs.go
Labels: swupd

#189 swupd: return information about fullfile creation
  builder/builder.go
  swupd/cmd/create-fullfiles/main.go
  swupd/fullfiles.go
  swupd/fullfiles_test.go
  swupd/helpers_test.go
  swupd/packs_test.go
Labels: swupd

#190 Subtract from file count when subtracting files
  swupd/manifest.go
Labels: bug, swupd

#110 Add BAT tests for UI testing
  .travis.yml
  Dockerfile
  Makefile
  Makefile.bats
  bat/lib/mixerlib.bash
  bat/tests/01-create-simple-mix/Makefile
  bat/tests/01-create-simple-mix/description.txt
  bat/tests/01-create-simple-mix/run.bats
  bat/tests/02-mix-clear-bundles/Makefile
  bat/tests/02-mix-clear-bundles/description.txt
  bat/tests/02-mix-clear-bundles/run.bats
  bat/tests/03-create-mix-with-unique-bundle/Makefile
  bat/tests/03-create-mix-with-unique-bundle/description.txt
  bat/tests/03-create-mix-with-unique-bundle/run.bats
  bat/tests/04-add-unique-package-to-clear-bundle/Makefile
  bat/tests/04-add-unique-package-to-clear-bundle/description.txt
  bat/tests/04-add-unique-package-to-clear-bundle/run.bats
  bat/tests/05-remove-package-from-clear-bundle/Makefile
  bat/tests/05-remove-package-from-clear-bundle/description.txt
  bat/tests/05-remove-package-from-clear-bundle/run.bats
  bat/tests/06-create-mix-with-swapped-clear-packages/Makefile
  bat/tests/06-create-mix-with-swapped-clear-packages/description.txt
  bat/tests/06-create-mix-with-swapped-clear-packages/run.bats
  bat/tests/07-add-clear-package-to-custom-bundle/Makefile
  bat/tests/07-add-clear-package-to-custom-bundle/description.txt
  bat/tests/07-add-clear-package-to-custom-bundle/run.bats
  bat/tests/08-test-format-bump/Makefile
  bat/tests/08-test-format-bump/description.txt
  bat/tests/08-test-format-bump/run.bats
Labels: enhancement

#196 Perform Lstat instead of Stat on rename files
  swupd/rename.go
Labels: bug, swupd

#199 swupd: Do not track ContentSize for subtracted files
  swupd/create_manifests_test.go
  swupd/manifest.go
Labels: swupd

#161 Add script used to validate new swupd code
  validate-swupd.sh
Labels: swupd
