Repository clearlinux/mixer-tools, pull requests merged in 2018-06, with the labels that each got.

#344 Fix bug for user who don't have upstreamurl file
  builder/builder.go
  mixer/cmd/root.go
Labels: bug

#350 mixin: increment mixer version when necessary
  mixin/build.go
Labels: bug

#354 swupd: remove old file heuristics
  swupd/heuristics.go
  swupd/heuristics_test.go
Labels: janitorial, swupd

#359 swupd: read *-extra-files from persistent location
  swupd/bundleinfo.go
  swupd/create_manifests.go
  swupd/helpers_test.go
Labels: swupd
